
body {
    background-color: #282828;
    color: #ffffff;
    font-family: 'Red Rose', cursive;
    padding: 10px;
    margin: 0;
}

main {
  border: 1px solid #d3d3d3;
  padding-right: 10px;
  padding-left: 10px;
}

section {
  border: 1px solid #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}
header h1 {
    /*color: #ff0000;*/
    font-size: 3rem;
    border-bottom: 1px solid gray;
}

.bio {
    color: #8bc34a;
    font-size: 24px;
    border: 1px solid #ff5722;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
}

span {
    color: #03a9f4;
    font-size: 24px;
    border: 1px dashed #8a4af3;
    padding: 5px;
}

nav {
  border: 1px solid #ffffff;
  padding: 5px;
  margin: 20px;
}

ul {
 
}

/*  pseudo class */


/* part 1 */

a:link { 
  color: orange;
  text-decoration: none;
}
/* or just use 
  a {
    color: white;
  }
*/
a:visited {
  color: yellow;
}

a:active {
  color: lightblue;
}

a:hover {
  background-color: teal;
}




/* part 2 */

:root {
  background-color: teal;
}

ul li:first-child {
  font-size: 26px;
  background: #740f31;
}

ul li:last-child {
  font-size: 30px;
  background: #3f51b5;
}
ul li:nth-child(2) {
  background: #009688;
}

/* part 3 */
span::before {
  content: " - ";
}

span::after {
  content: " - ";
}

